*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

:root {
    --orange: #fc8a15;
    --whitesmoke: #f6f6f6;
    --lightgreen: #1ee494;
    --green: #009378;
    --black: #222831;
}

* {
    color: var(--black);
}

body {
    background-color: #f6f6f6;
}

.button {
    background-color: transparent;
    border: 1px var(--black) solid;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.button ~ .button {
    margin-top: 5px;
}

.button.--lg {
    font-size: 1.2rem;
    padding: 7.5px 20px;
}

.button.--orange {
    border-color: var(--orange);
    background-color: var(--orange);
    color: var(--whitesmoke);
}

.button.--green {
    border-color: var(--green);
    background-color: var(--green);
    color: var(--whitesmoke);
}